// Footer Bottom Area Start
    .kilimanjaro_bottom_header_one.section_padding_50.text-center
        .container
            .row
                .col-12
                    p
                        | &copy; All Rights Reserved by
                        a(href='#')
                            | Webublogoverflow.blogspot -(with all love)
                            i.fa.fa-love
