extends layout
block content
    h1(class="my-4") Contact Form
    .container
        form(action='/action_page.php')
            div(class="form-group")
            label(for='fname') First Name
            input#fname(type='text' name='firstname' placeholder='Your name..' class='form-control')
            div(class="form-group")
            label(for='lname') Last Name
            input#lname(type='text' name='lastname' placeholder='Your last name..' class='form-control')
            div(class="form-group")
            label(for='country') Country
            select#country(name='country' class='form-control' class='form-control')
                option(value='australia') Australia
                option(value='canada') Canada
                option(value='usa') USA
            div(class="form-group")
            label(for='subject') Subject
            textarea#subject(name='subject' placeholder='Write something..' style='height:200px' class='form-control')
            input(type='submit' value='Submit' class='.btn-primary')
